{% extends "backend_base.html" %}

{% block title %}Add User{% endblock title %}

{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-4 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Add User</h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group input-group-outline mb-3">
                            <input type="text" id="id_username" name="username" class="form-control" required placeholder="Username">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                            <input type="email" id="id_email" name="email" class="form-control" required placeholder="Email">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                            <input type="password" id="id_password" name="password" class="form-control" required placeholder="Password">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                            <select id="id_role" name="role" class="form-select ps-3" required>
                                <option value="" selected disabled>Select Role</option>
                                {% for role in roles %}
                                    <option value="{{ role.id }}">{{ role.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="id_profile_picture" class="form-label">Profile Picture</label>
                            <input type="file" id="id_profile_picture" name="profile_picture" class="input-group input-group-outline mb-3">
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="id_status" name="status" checked
                                   style="background-color: #e91e63; border-color: #e91e63;"
                                   onchange="this.style.backgroundColor = this.checked ? '#e91e63' : '#adb5bd';">
                            <label class="form-check-label" for="id_status">Enable User</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Add User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}



